App_WebReferences/ws_GetPrice/ws_GetPrice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.prokits.com.tw/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.prokits.com.tw/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.prokits.com.tw/">
      <s:element name="GetPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aryCustID" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="aryModelNo" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="aryDBS" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="1" maxOccurs="1" name="intQty" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TokenID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPriceResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuotePrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aryCustID" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="aryModelNo" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="aryDBS" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="aryQty" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="TokenID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuotePriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuotePriceResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPriceSoapIn">
    <wsdl:part name="parameters" element="tns:GetPrice" />
  </wsdl:message>
  <wsdl:message name="GetPriceSoapOut">
    <wsdl:part name="parameters" element="tns:GetPriceResponse" />
  </wsdl:message>
  <wsdl:message name="GetQuotePriceSoapIn">
    <wsdl:part name="parameters" element="tns:GetQuotePrice" />
  </wsdl:message>
  <wsdl:message name="GetQuotePriceSoapOut">
    <wsdl:part name="parameters" element="tns:GetQuotePriceResponse" />
  </wsdl:message>
  <wsdl:portType name="ws_GetPriceSoap">
    <wsdl:operation name="GetPrice">
      <wsdl:input message="tns:GetPriceSoapIn" />
      <wsdl:output message="tns:GetPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuotePrice">
      <wsdl:input message="tns:GetQuotePriceSoapIn" />
      <wsdl:output message="tns:GetQuotePriceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws_GetPriceSoap" type="tns:ws_GetPriceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPrice">
      <soap:operation soapAction="http://www.prokits.com.tw/GetPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuotePrice">
      <soap:operation soapAction="http://www.prokits.com.tw/GetQuotePrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_GetPriceSoap12" type="tns:ws_GetPriceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPrice">
      <soap12:operation soapAction="http://www.prokits.com.tw/GetPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuotePrice">
      <soap12:operation soapAction="http://www.prokits.com.tw/GetQuotePrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws_GetPrice">
    <wsdl:port name="ws_GetPriceSoap" binding="tns:ws_GetPriceSoap">
      <soap:address location="http://api.prokits.com.tw/WebService/ws_GetPrice.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_GetPriceSoap12" binding="tns:ws_GetPriceSoap12">
      <soap12:address location="http://api.prokits.com.tw/WebService/ws_GetPrice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>